/* root */

    /* Primary */

:root {
--clr-green-500: hsl(158, 36%, 37%); /* 400 */
--clr-green-700: hsl(158, 42%, 18%);

    /* Neutral */

--clr-black: hsl(212, 21%, 14%);
--clr-grey: hsl(228, 12%, 48%);
--clr-cream: hsl(30, 38%, 92%);
--clr-white: hsl(0, 0%, 100%);

--ff-base: 'Montserrat', sans-serif;
--ff-accent: 'Fraunces', serif;

--fw-regular: 500;
--fw-bold: 700;

}

/* reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}

/* general styles */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-grey);
    background-color: var(--clr-cream);

    /* for this project only */
   
}

main {
    display:grid;
    place-content: center;
    margin-block-start: 5rem;
}

@media (min-width: 48em)  {
  main {
    margin-block-start: 17.875rem;
  }
}

/* utilities */
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* button */
  .button {
    cursor: pointer;
    text-decoration: none;
    display:inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    border: 0;
    border-radius: 0.5rem;
    padding: 1em 2em;
    background-color: var(--clr-green-500);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
    
  }

  .button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;

  }

  .button:is(:hover, :focus) {
   background-color: var(--clr-green-700); 
  }


/* product styles */
.product {
    --content-padding: 2rem; /* locally scoped custom property, only available inside the product class */ 
    --content-spacing: 1rem;

    display: grid;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 350px;

}

@media (min-width: 48em)  {
  .product {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
}

.product__content {
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
}

.product__category {
    font-size: 0.75rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product__title {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-black);
    margin-block-start: 0.313rem;
    margin-block-end: 0.313rem;

}

.product__price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-green-500);
}

.product__original-price {
  font-size: 0.8125rem;
}

.flex-group {  
    --content-spacing: 0.75rem;

}